.git
launchSettings.json

*DS_Store
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
.vs/

**/Obj/
**/obj/
**/bin/
**/Bin/

*.xap
*.user
/TestResults
*.vspscc
*.vssscc
*.suo
*.cache
packages/*
artifacts/*
msbuild.log
PublishProfiles/
*.psess
*.vsp
*.pidb
*.userprefs
*.ncrunchsolution
*.log
*.vspx
/.symbols
*.sln.ide