name: Format

on:
  pull_request:

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    env:
      WORKING_DIR: src/libp2p
    steps:

      - name: Check out repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up .NET
        uses: actions/setup-dotnet@v5

      - name: Format whitespace
        working-directory: ${{ env.WORKING_DIR }}
        run: dotnet format whitespace . --folder --verify-no-changes

      - name: Check spelling
        uses: streetsidesoftware/cspell-action@v7
        with:
          args: --config ./.cspell.json --no-progress --no-color
